.featured-products {
  height: 600px;
  width: 100%;
  margin-bottom: 125px;
  padding-top: 70px;
  padding-right: 42px;
  padding-left: 42px;
}

.featured-products h2 {
  font-size: 42px;
  font-weight: 700;
}

.featured-products h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.swiper {
  height: 500px;
  width: 100%;
  margin-top: 30px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 400px;
  border-radius: 10px;
}

.img-container {
  position: relative;
  height: 375px;
  width: 100%;
  background: #eaeae8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.heart-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 18px;
  height: 18px;
  z-index: 10;
}

.heart-icon:hover {
  content: url("/img/serce-fill.png");
}

.img-container img {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
}

.product-name,
.product-price {
  text-align: left;
  width: 100%;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.product-price {
  font-size: 16px;
  margin-top: 5px;
}

.bestseller-label {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #d9d6b0;
  color: black;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  z-index: 10;
  text-transform: uppercase;
}

.limited-label {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #d4b0d9;
  color: black;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  z-index: 10;
  text-transform: uppercase;
}

.swiper-button-next,
.swiper-button-prev {
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  border-radius: 50%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  transform: rotate(180deg);
  left: 25px;
}

.swiper-button-next {
  right: 25px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next[tabindex="-1"],
.swiper-button-prev[tabindex="-1"] {
  display: none;
}

@media (max-width: 850px) {
  section.featured-products {
    padding: 16px;
  }
}

@media (max-width: 470px) {
  .swiper {
    min-width: 600px;
  }
}
